body {
    background: #141414;
    color: white;
}

.movie-app>.topbar {
    overflow: hidden;
}

.movie-app>.row {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
    overflow-y: hidden;
}

.movie-app>.row::-webkit-scrollbar {
    display: none;
}

.movie-app>.row>.col-8,
.movie-app>.row>.col-sm-12,
.movie-app>.row>.col-md-6,
.movie-app>.row>.col-lg-3 {
    display: inline-block;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.searchBar input:focus {
    border: red 1px solid;
    box-shadow: none;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    font-weight: bold;
    padding: 32px;
    opacity: 0;
    text-align: center;
}


/* toggle dark mode button */

.form-switch .form-check-input {
    height: 24px;
    width: 48px;
    margin-bottom: 8px;
    margin-left: 250px;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/></svg>");
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: red;
    border-color: red;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}


/* .movie-app>.row::-webkit-scrollbar {
    display: none;
} */