body {
    background: #141414;
    color: white;
}

.movie-app>.row {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

.movie-app>.row>.col-8,
.movie-app>.row>.col-sm-12,
.movie-app>.row>.col-md-6,
.movie-app>.row>.col-lg-3 {
    display: inline-block;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    font-weight: bold;
    padding: 32px;
    opacity: 0;
    text-align: center;
}


/* .movie-app>.row::-webkit-scrollbar {
    display: none;
} */