body {
    background: #141414;
    color: white;
}

.movie-app>.row {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

.movie-app>.row>.col-8,
.movie-app>.row>.col-sm-12,
.movie-app>.row>.col-md-6,
.movie-app>.row>.col-lg-3 {
    display: inline-block;
}


/* .movie-app>.row::-webkit-scrollbar {
    display: none;
} */